<a href="https://colab.research.google.com/github/JINJA-E/AI_for_ML/blob/main/0915_ClassAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [10]:
dict_Team1 = {'Name' : ['장영진', '이상민', '김진재', '장효정'],
              'Nationality' : ['Korea', 'Korea', 'Korea', 'Korea'],
              'Hobby' : ['Listening_Music','Reading_Books','Traveling','Sleeping'],
              'MajorIn' : ['Statistics','Mathematics','Statistics','Statistics']}

In [11]:
df_1 = pd.DataFrame(dict_Team1)

In [24]:
df_1.set_index('Name',inplace=True)

In [25]:
df_1.to_csv('class_0915')

In [26]:
df_2 = pd.read_csv('/content/class_0915')

In [27]:
df_2

  Name Nationality            Hobby      MajorIn
0  장영진       Korea  Listening_Music   Statistics
1  이상민       Korea    Reading_Books  Mathematics
2  김진재       Korea        Traveling   Statistics
3  장효정       Korea         Sleeping   Statistics

In [31]:
df_2.describe()

       Name Nationality            Hobby     MajorIn
count     4           4                4           4
unique    4           1                4           2
top     장영진       Korea  Listening_Music  Statistics
freq      1           4                1           3

In [34]:
df_2

  Name Nationality            Hobby      MajorIn
0  장영진       Korea  Listening_Music   Statistics
1  이상민       Korea    Reading_Books  Mathematics
2  김진재       Korea        Traveling   Statistics
3  장효정       Korea         Sleeping   Statistics